.callback ul
{
    margin: 20px 0 0 0;
    list-style: none;
}

.callback ul li.center {
    text-align: center;
    padding-bottom: 0;
}

.callback .input-wrap, .callback .textarea-wrap
{
    width: 415px;
}

.result {
    display: none;
}