body{
	background:transparent url('../../images/themes/clothing/clothing-s1/footer.png') no-repeat scroll center bottom;
}
#theme-container{
	background:transparent url('../../images/themes/clothing/clothing-s1/bg.jpg') no-repeat scroll center top;
	height:792px;
}
.shadow-split{
	background:transparent url('../../images/themes/clothing/clothing-s1/shadown.png') repeat-x scroll left top;
	height:60px;
	border:0px;
}
.footer{
	height:445px;
}