body{
	background:transparent url('../../images/themes/clothing/clothing-s3/footer.png') no-repeat scroll center bottom;
}
#theme-container{
	background:transparent url('../../images/backgrounds/blue.jpg') repeat-x scroll center 25px;
	height:600px;
}
.shadow-split{
	background:transparent url('../../images/themes/clothing/clothing-s3/shadown.png') no-repeat scroll center top;
	height:85px;
	border:0px;
	width:955px;
	left:-7px;
	position:relative;
}
.theme-left{
	background:transparent url('../../images/themes/clothing/clothing-s3/left.png') no-repeat scroll left top;
	width:216px;
	height:520px;
	top:70px;
	margin-left:-655px;
}
.theme-right{
	background:transparent url('../../images/themes/clothing/clothing-s3/right.png') no-repeat scroll left top;
	width:242px;
	height:522px;
	top:70px;
	margin-left:455px;
}
.footer{
	height:445px;
}