<?xml version="1.0"?>


<connectionStrings>
  <!-- === Develop ========================================= -->
  <add name="AdvantConnectionString" connectionString="Data Source='SERVER\SQL2008R2Express'; Connect Timeout='5'; Initial Catalog='AdvantShop_30'; Persist Security Info='True'; User ID='sa'; Password='ewqEWQ321#@!';" providerName="System.Data.SqlClient"/>
  <!--<add name="AdvantConnectionString" 
        connectionString="Data Source='UNKNOW-PC\SQLEXPRESS'; Connect Timeout='5'; Initial Catalog='adv_cs'; Persist Security Info='True'; User ID='sa'; Password='ewqEWQ321#@';!" 
        providerName="System.Data.SqlClient" />-->
  <!-- === Releace ========================================== -->
  <!--For WebServer machine -->
  <!--<add name="AdvantConnectionString"
      connectionString="Data Source='MyServerName'; Connect Timeout='5'; Initial Catalog='MyDBName'; Persist Security Info='True'; User ID='MyUserName'; Password='MyPass';"
      providerName="System.Data.SqlClient" />-->
  <!--For local machine -->
  <!--<add name="AdvantConnectionString"
      connectionString="Data Source='MyServerName'; Connect Timeout='5'; Initial Catalog='MyDBName'; Integrated Security='True';"
      providerName="System.Data.SqlClient" />-->
</connectionStrings>

