<?xml version="1.0"?>

<connectionStrings>


  <!--For WebServer machine    
<add name="AdvantConnectionString"
    connectionString="Data Source=w07.hoster.by; Initial Catalog=instrume_db; Persist Security Info='True'; User ID=instrume_sa; Password=NesUser1"
    providerName="System.Data.SqlClient" />
-->

  <!--For local machine 
<add name="AdvantConnectionString" connectionString="Data Source=.\sqlexpress01; Connect Timeout='15'; Initial Catalog=nastia; Integrated Security='True';" providerName="System.Data.SqlClient"/>
-->
<!---->
<add name="AdvantConnectionString"
    connectionString="XXXXXXX" />
 
</connectionStrings>

