body
{
    background: transparent url('../images/footer.jpg') no-repeat scroll center bottom;
}
#theme-container
{
    background: transparent url('../images/main.jpg') no-repeat scroll center top;
    height: 702px;
}

.shadow-split
{
    background: transparent url('../images/split.png') no-repeat scroll center top;
    border-color: transparent;
    height: 135px;
}
.container > .footer
{
    padding-bottom: 225px;
}
a
{
    color: #003b6a;
}
a:hover
{
    color: #003b6a;
}
.main-menu a
{
   color: #fff !important; /*color: #003b6a !important;*/
}
.main-menu a:hover
{
   color: #fff !important; /*color: #003b6a !important;*/
}
.header-contact .phone, #header .phone, #header a
{
    color: #003b6a;
}
